<div>

        <div>{{ctrl.bonifico.ibanRicevente}}</div>
        <div>{{ctrl.bonifico.nome}}</div>
        <div>{{ctrl.bonifico.cognome}}</div>
        <div>{{ctrl.bonifico.importo | currency}}</div>
        <div>{{ctrl.bonifico.data | date}}</div>
        <div>{{ctrl.bonifico.causale}}</div>

        <input ng-model="ctrl.otp" type="text" class="form-control" id="otp" placeholder="Inserisci OTP" name="otp" required>

        <div>
                <button ui-sref="bonifico.step1" id="avanti" type="submit" class="btn btn-default">Indietro</button>

                <button ng-click="ctrl.confermaBonificoCtrl()" id="avanti" type="submit" class="btn btn-default">Avanti</button>
        </div>



</div>